{% extends 'base.html' %}

{% block content %}
  <h1>TODO list
    <a href="{% url 'tasks:task-create' %}" class="btn btn-primary link-to-page" style="float: right">
      Add task
    </a>
  </h1>
  <br>
  {% for task in tasks_list %}
    <h4>{{ task.name }} {{ task.is_completed }}</h4>
    <p>Created: {{ task.created_at }} Deadline: {{ task.deadline }}</p>
    <h4>
      Tags: {{ task.tag.all }}
      <a href="{% url 'tasks:task-update' pk=task.id %}">Update</a>
      <a href="{% url 'tasks:task-delete' pk=task.id %}">Delete</a>
    </h4>
    <hr>
  {% endfor %}
{% endblock %}